#root {
  width: 500px;
  margin: 0 auto;
  /* padding: 12rem; */
  text-align: center;
  display: flex;
  flex-direction: column;
}

.buttonStyles {
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 200px;
}

.footer {
  color: black;
  border-top: solid;
}

.yearStyle {
  margin-left: 2px;
  color: gray;
  font-size: 10px;
}
